<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Success</title>
</head>
<body>
<P>Sucessfully logged into boutieque store with username :  <b><span th:text="${username}"></span></b></P>
</body>
</html>